body{
    display: grid;
    align-items: baseline;
    justify-items: center;

}

form{
    display: grid;
    padding-top: 6%;
}

.datos{
    font-size: 30px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.form-control{
width: 330px !important;
}

.table{
width: 70% !important;
}

.datos{
width: 20%;
font-size: 20px;
background-color: whitesmoke;
border: 2px black solid;

}